.transaction-container {
  width: 95%;
  border-radius: 0.7rem;
  margin: 1rem auto;
  border-bottom: 2px solid var(--purple);
  border-right: 2px solid var(--purple);
  border-left: 2px solid var(--purple);
  max-width: 600px;
  background-color: var(--backgrnd-comp);
  height: fit-content;
}

.transaction-top {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid var(--purple);
  background-color: var(--purple);
  border-radius: 0.7rem 0.7rem 0 0;
}

.transaction-button,
.transaction-button label {
  text-decoration: none;
  color: white;
  cursor: pointer;
  padding: 0 10px;
}

.btn-cancel {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 1rem;
}

.transaction-card {
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  border-radius: 0.7rem;
  color: black;
  padding: 1rem 0;
  position: relative;
  justify-content: center;
  margin: 0 auto;
}

.transaction-title {
  display: flex;
  font-weight: bold;
  font-size: 22px;
  margin: 1rem auto;
}

.add-btn {
  display: inline-block;
  padding: 0.5rem 3rem;
  border: 0.16em solid #000000;
  margin: 1rem auto;
  text-transform: uppercase;
  background-color: transparent;
  text-align: center;
  transition: all 0.15s;
  border-radius: 4px;
  color: black;
}

.add-btn:hover {
  border: 0.16em solid var(--purple);
}

.category-icon {
  margin: 0 15px 0 5px;
}

.textfield .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: var(--purple);
}

.textfield .MuiInputLabel-outlined.Mui-focused {
  color: var(--purple);
}

